[submodule "roselib"]
	path = roselib
	url = git@github.com:RicoP/roselib.git
[submodule "raylib"]
	path = raylib
	url = git@github.com:raysan5/raylib.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "premake-comppp"]
	path = premake-comppp
	url = git@github.com:RicoP/premake-comppp.git
